.dropdownList{
   margin:10px !important;
}

.textBox{
   width:400px !important;
   border-color:#591CA8 !important;
   border-radius: 50px !important;
   font-size: 14px !important;
   margin:10px;
}

