.dropdownlist{
   border-radius: 50px !important;
   font-size: 14px !important;
   background-color:#591CA8!important;
   border-color:#591CA8!important;
   padding-left:100px !important;
   padding-right:100px !important;
}

.dropdownlist:hover {
background-color: #240947!important;
}

.dropdownlist:active{
   background-color: #240947;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(119, 86, 163, 0.6) !important;
   border-color:#73569781 !important;
  
}