.subContent{
    float:right;
    color:rgba(163, 162, 162, 0.651);
}

.resultsTitle{
  margin-left:60px;
}

.resultsTitle, .filtersTitle{
  font-size:larger;
  color:#591CA8 !important;
}

.filterCol{
  margin:0 !important
}

.searchIcon{
  font-size:20px;
}

.formControl ::placeholder{
  color:#8D69BA !important
}

.content{
    margin:auto;
}

.listItem{
    padding-right:100px;
    padding-left:40px;
    background-color: #f9f4fe !important;
}

.list 
:hover{
    background-color: #f3eafc !important;
}

.pagination {
  margin-top:15px;
  margin-left:30%;
  display: flex;
  list-style: none;
  outline: none;
  color:#591CA8;
}
.pagination > .active > a{
  font-size:larger;
}
.pagination > li > a{
  
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
 
  outline: none ;
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}