.anchor{
   text-decoration:underline;
   color:#591CA8;
}

.card a:hover{
   color:#7652a5e5;
}

.content{
   width: 18rem;
   margin:10px;
}

.approveButton, .deleteButton{
float:right !important;
margin-left:10px !important;
margin-right:10px !important;
margin-top:20px !important;
}