.button{
   background-color: #591CA8 !important;
   border-color:#591CA8 !important;
   padding:8px 20px 8px 20px !important;
   margin:20px;
   
}

.paragraph{
   font-size:large;
    color:#591CA8 !important;
}

.totalWeight{
   float:right;
   
}

.formControl{
   font-size:small;
   padding:20px;
   color:#591CA8;
}

.addButton{
   border-color:#591CA8;
   color:#591CA8;
}

.hideButton{
   display:none;
}
